<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>🔥Fitness 24 X 7</title>
</head>

<body style="background-color: rgb(57, 15, 97); color:aliceblue;">
  <center>
    <h1>🔥🔥Fitness 24 X 7🔥🔥</h1>
    <br>
    <img width="800px" height="600px" id="bg" src="{{ url_for('video_feed') }}"
      style="border:rgb(151, 196, 207) 10px solid; border-radius: 10%;">
    <h2>Count : {{count}}</h2>

    
  </center>

</body>

</html>